:root {
	--blue-bg-primary: #24283b;
	--white-text: #cfc9c2;
	--blue-bg-secondary: #1f2335;
	--red: #f7768e;
	--card-white: #e5dfd7;
	--white: white;
	--black: black;
	--scrollbar-color: #d6dee1;
}

body {
	background-color: var(--blue-bg-primary);
	color: var(--white-text);
	font-family: Fira Code, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}

.section {
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 40vw;
	min-width: 450px;
	height: 100vh;
	display: flex;
}

.body {
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-content: flex-start;
	align-items: stretch;
	display: flex;
	overflow: hidden;
}

.navigation.section {
	background-color: var(--blue-bg-secondary);
	width: 20vw;
	min-width: 325px;
}

.primary-content.section,
.secondary-content.section {
	justify-content: flex-start;
	align-items: center;
}

.container {
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
}

.link-container {
	border-top: 1px solid var(--red);
	color: var(--white-text);
	text-align: center;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	transition: filter 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	display: flex;
}

.link-container.top {
	border-top-style: none;
}

.link-container.top.half-brightness {
	filter: brightness(50%);
}

.link-container.top.full-brightness,
.link-container.full-brightness {
	filter: brightness();
}

.heading-1 {
	font-weight: 400;
}

.heading-1.bold {
	width: 100%;
	font-weight: 600;
}

.folder {
	width: 55px;
	margin-right: 20px;
}

.folder.open {
	z-index: -1;
	position: absolute;
}

.card {
	border: 2px solid var(--blue-bg-secondary);
	background-color: var(--card-white);
	color: var(--blue-bg-secondary);
	border-radius: 20px;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 50px 30px;
	display: flex;
	box-shadow: 0 2px 5px 2px #8a847e;
}

.height-90 {
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
}

.height-90.border-right {
	border-right: 1px solid var(--red);
}

.paragraph {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.arrow {
	z-index: 1;
	cursor: pointer;
	width: 50px;
	position: absolute;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}

.arrow.down {
	bottom: 50px;
	transform: rotate(180deg);
}

.arrow.up {
	top: 50px;
}

.arrow.code-switch-arrow {
	position: static;
}

.carousel {
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.carousel.shifting {
	transition: bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955),
		left 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955), top 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.half-brightness {
	filter: brightness(50%);
	transition: filter 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.full-brightness {
	filter: brightness();
	transition: filter 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.full-opacity {
	opacity: 1;
}

.zero-opacity {
	opacity: 0;
}

.heading-2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 400;
}

.heading-2.bold,
.heading-2.code-link:hover {
	font-weight: 600;
}

.heading-3 {
	margin: 0 5px;
	font-size: 18px;
	font-weight: 400;
}

.heading-3.bold {
	font-weight: 600;
}

.heading-2-copy {
	font-size: 18px;
	font-weight: 400;
}

.heading-2-copy.bold {
	font-weight: 600;
}

.project-line {
	justify-content: space-between;
	align-items: center;
	height: 36px;
	display: flex;
}

.code-visual {
	display: flex;
}

.code {
	color: var(--blue-bg-secondary);
	cursor: pointer;
	text-decoration: none;
}

.project-lines-container {
	width: 100%;
	margin-top: 20px;
}

.code-switcher {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 100px;
	font-weight: 700;
	display: flex;
}

.code-switch-arrow {
	width: 50px;
	height: 100%;
}

.file-name {
	color: var(--red);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
}

.nav-group {
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	display: flex;
}

@media screen and (max-width: 1225px) {
	.section {
		flex: 1 0 auto;
		min-width: 450px;
	}

	.navigation.section {
		flex: 0 auto;
		width: 100px;
		min-width: 0;
	}

	.link-container {
		justify-content: center;
		align-items: center;
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.heading-1 {
		font-size: 30px;
	}

	.heading-1.nav-h1 {
		display: none;
	}

	.folder {
		width: 100%;
		margin-right: 0;
	}

	.carousel {
		justify-content: center;
		align-items: center;
	}

	.nav-group {
		width: 55px;
	}
}

@media screen and (max-width: 1000px) {
	.section {
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		width: 100vw;
		height: 40vh;
	}

	.body {
		flex-flow: column;
		justify-content: flex-start;
		align-items: stretch;
	}

	.navigation.section {
		justify-content: flex-start;
		align-items: center;
		width: 100vw;
		height: 20vh;
	}

	.primary-content.section {
		flex: 0 auto;
	}

	.container {
		flex-flow: row;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100%;
		min-height: auto;
	}

	.container.nav-container {
		flex-flow: row;
		width: 100vw;
		height: 100%;
		min-height: auto;
	}

	.link-container {
		border-top-style: none;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		width: 20vw;
		height: 100%;
	}

	.heading-1 {
		font-size: 20px;
	}

	.heading-1.nav-h1 {
		display: block;
	}

	.folder {
		width: 55px;
	}

	.card {
		height: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.height-90 {
		width: 90%;
		height: 100%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}

	.height-90.border-right {
		border-bottom: 1px solid var(--red);
		border-right-style: none;
	}

	.arrow.down {
		bottom: auto;
		right: 10px;
		transform: rotate(90deg);
	}

	.arrow.up {
		top: auto;
		left: 10px;
		transform: rotate(270deg);
	}

	.carousel {
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		width: auto;
		height: 100%;
		display: flex;
	}

	.nav-group {
		flex-flow: row;
		width: auto;
		height: 100%;
	}
}

@media screen and (max-width: 479px) {
	.container.nav-container {
		flex-flow: column;
	}

	.link-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.heading-1 {
		font-size: 18px;
		line-height: 100%;
	}

	.heading-1.bold {
		text-align: center;
	}

	.heading-1.nav-h1 {
		display: none;
	}

	.folder {
		margin-right: 0;
	}

	.card.primary {
		min-width: 0;
		padding: 15px;
	}

	.height-90 {
		padding: 20px 10px;
	}

	.paragraph {
		font-size: 16px;
		line-height: 100%;
	}

	.bottom-nav,
	.top-nav {
		justify-content: center;
		align-items: center;
		height: 50%;
		display: flex;
	}

	.nav-group {
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50%;
		display: flex;
	}
}
